<!DOCTYPE html>
<html>
  <head>
    <title>Edify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script type="text/javascript">
      window.edifyURL = "<%= image_url('edify_logo-removebg.png')%>";
      window.nowplayingURL = "<%= image_url('now_playing.png')%>";
    </script>

     <meta property="og:title" content="Edify" />
    <meta property="og:image" content="<%= image_url('display.png')%>" />
    <meta property="og:description" content="Edify is a single page web application based on the audio streaming service, Spotify">
    <meta property="og:url" content="https://mango-music.herokuapp.com/">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
